.movies{
    background-color: #131313;
    padding-bottom: 170px;
    min-height:600px;
}
.movies__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
} 
@media screen and (max-width:768px){
    .movies .container{
        max-width:540px;
    }
}
@media screen and (max-width:550px){
    .movies .container{
        max-width:255px;
    }
}