.favorites__empty {
    width: 100%;
    height: 100%;
}


.empty__favorites {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty__favorites__content {
    width: 100%;
    max-width: 500px;

    margin: 0 auto;
    padding: 48px 32px;

    border: 1px solid rgba(255, 255, 255, 0.08);

    background: rgba(255, 255, 255, 0.03);

    backdrop-filter: blur(20px);

    border-radius: 32px;

    text-align: center;
}

.empty__favorites button{
    cursor: pointer;
}

.empty__favorites__icon {
    width: 90px;
    height: 90px;
    padding: 20px;
    margin: 0 auto 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 42px;

    border-radius: 50%;

    background: linear-gradient(135deg,
            rgba(176, 56, 56, .25),
            rgba(100, 42, 125, .25),
            rgba(79, 49, 156, .25));

    border: 1px solid rgba(255, 255, 255, .08);
}

.empty__favorites h2 {
    margin-bottom: 14px;

    font-size: 32px;
    font-weight: 700;

    color: #fff;
}

.empty__favorites p {
    max-width: 320px;

    margin: 0 auto 28px;

    line-height: 1.6;

    color: rgba(255, 255, 255, .6);
}

.empty__favorites button {
    height: 54px;
    padding: 0 28px;

    border: none;
    border-radius: 16px;

    color: white;
    font-weight: 600;

    cursor: pointer;

    background: linear-gradient(90deg,
            #B03838,
            #642A7D,
            #4F319C);

    transition: .3s;
}

.empty__favorites button:hover {
    transform: scale(1.03);
}

.empty__favorites__icon img {
    width: 100%;
    height: 100%;
}